<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pagina Principal</title>
        <% include partials/head %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/datepicker3.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <script>
        function matar_proceso(id) {
            console.log(id);
        }
        </script>
    </head>
    <body>
        <div class="wrap">
            <ul class="tabs">
                <li>
                    <a href="./home" class="active"><span class="fa fa-home"></span>Pagina Principal</a>
                </li>
                <li>
                    <a href="./CPU"><span class="fa fa-home"></span>Monitor CPU</a>                    
                </li>
                <li>
                    <a href="./RAM"><span class="fa fa-home"></span>Monitor RAM</a>
                </li>
            </ul>
        </div>
        <div class="secciones">
            <article>
                    <ul>
                            <form class="form-group row"   method='get' action='#'>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" id="Codigo"  value = 'Tipo de proceso' readonly>
                                </div>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="Nombre"  value = 'Cantidad ' readonly>
                                </div>
                            </form>
                        </ul>
                    <ul>
                        <form class="form-group row"   method='get' action='#'>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="Codigo"  value = 'Procesos totales' readonly>
                            </div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="Nombre"  value = '<%- info1[4].toString() %>' readonly>
                            </div>
                        </form>
                    </ul>
                    <ul>
                        <form class="form-group row"   method='get' action='#'>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="Codigo"  value = 'Procesos Detenidos' readonly>
                            </div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="Nombre"  value = '<%- info1[0].toString() %>' readonly>
                            </div>
                        </form>
                     </ul>
                     <ul>
                        <form class="form-group row"   method='get' action='#'>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" id="Codigo"  value = 'Procesos en Ejecucion' readonly>
                                </div>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="Nombre"  value = '<%- info1[1].toString() %>' readonly>
                                </div>
                            </form>
                    </ul>
                    <ul>
                        <form class="form-group row"   method='get' action='#'>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" id="Codigo"  value = 'Procesos Suspendidos' readonly>
                                </div>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="Nombre"  value = '<%- info1[2].toString() %>' readonly>
                                </div>
                            </form>
                    </ul>
                         <ul>
                                <form class="form-group row"   method='get' action='#'>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" id="Codigo"  value = 'Procesos Zombie' readonly>
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" id="Nombre"  value = '<%- info1[3].toString() %>' readonly>
                                    </div>
                                </form>
                             </ul>
            </article>
            <article>
                    <ul>
                            <form class="form-group row"   method='get' action='#'>
                                <div class="col-xs-1">
                                    <input type="text" class="form-control" id="Codigo"  value = 'PID' readonly>
                                </div>
                                <div class="col-xs-2">
                                    <input type="text" class="form-control" id="Nombre"  value = 'Usuario' readonly>
                                </div>
                                <div class="col-xs-2">
                                    <input type="text" class="form-control" id="Descripcion" value = 'Estado' readonly>
                                </div>
                                <div class="col-xs-1">
                                    <input type="text" class="form-control" id="Creador" value = 'RAM'' readonly>
                                </div>
                                <div class="col-xs-2">
                                    <input type="text" class="form-control" id="Clausura" value = 'Nombre' readonly>
                                </div>
                            </form>
                        </ul>
                    <% for(var i=0; i<info2.length; i++) {%>
                        <%var process = info2[i];%>
                        <ul>
                                <form class="form-group row"  action='/home' method='post'>
                                    <div class="col-xs-1">
                                        <input type="text" class="form-control" name="pid" id="pid"  value = "<%- process[0].toString() %>" readonly>
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="text" class="form-control" name="Usuario" id="Usuario"  value =  "<%- process[1].toString() %>" readonly>
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="text" class="form-control" name="Estado" id="Estado"  value = "<%- process[2].toString() %>" readonly>
                                    </div>
                                    <div class="col-xs-1">
                                        <input type="text" class="form-control" name="RAM" id="RAM"  value ="<%- process[3].toString() %>" readonly>
                                    </div>
                                    <div class="col-xs-2">
                                            <input type="text" class="form-control" name="Nombre" id="Nombre"  value ="<%- process[4].toString() %>" readonly>
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="submit" value="Detener" class="btn btn-info btn-block">
                                    </div>
                                </form>
                            </ul>
                    <% } %>
            </article>
        </div>
    </body>
</html>